@font-face {
  font-family: "Signature";
  src: url("/otf/Mattrinah.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Ramisland";
  src: url("/otf/Ramisland.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Qeilab";
  src: url("/otf/Qeilab.otf");
  font-weight: normal;
  font-style: normal;
}
