@font-face {
  font-family: "Louis George Cafe";
  src: url('/otf/Louis\ George\ Cafe.ttf');
}

@font-face {
  font-family: "Champagne & Limousines";
  src: url('/otf/Champagne\ &\ Limousines.ttf');
}